{% extends 'employee/base.html' %}
<!-- {% load crispy_forms_tags %} -->

{% block content %}
<!-- <p style="text-align: center">Employee Add Page </p> -->


<form action="" method="post" autocomplete="off" >
    {% csrf_token %}

{#    <!-- {{form|crispy}} -->#}
{#    {{form.fullname|as_crispy_field}}#}
{#    {{form.mobile|as_crispy_field}}#}
<label class="bmd-label-floating" style=" color: black;">Full Name</label> <input class="form-control" type="text" name="fullname"   placeholder="Enter Your " /><br>
   <label class="bmd-label-floating" style=" color: black;">Mobile </label> <input class="form-control" type="text" name="mobile"   placeholder="Enter Your " /><br>
{#    <label class="bmd-label-floating" style=" color: black;">Emp Code</label> <input class="form-control" type="text" name="emp_code"   placeholder="Enter Your " />#}
{#    <label class="bmd-label-floating" style=" color: black;">Position</label> <input class="form-control" type="text" name="position"   placeholder="Enter Your " />#}
    <div class="row">
        <div class="col-md-4">
{#            {{form.emp_code|as_crispy_field}}#}
    <label class="bmd-label-floating" style=" color: black;">Emp Code</label> <input class="form-control" type="text" name="emp_code"   placeholder="Enter Your " />

        </div>
        <div class="col-md-8">
{#            {{form.position|as_crispy_field}}#}
    <label class="bmd-label-floating" style=" color: black;">Position</label> <input class="form-control" type="text" name="position"   placeholder="Enter Your " />
<br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i> Submit</button>    
        </div>
        <div class="col-md-4">
            <a href="{% url 'employee_list' %}" class="btn btn-secondary btn-block btn-lg">
            <i class="fas fa-stream"></i> Back to List</a>
        </div>
    </div>
</form>



{% endblock content %}
